<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dotazník</title>
</head>
<body>
    <h1>Dotazník</h1>

    <div>
        <label>Vyberte si jednu hru:</label>
        <select name="Otazka1" id="Otazka1">
            <option value="minecraft">Minecraft</option>
            <option value="minecraft">Minecraft</option>
            <option value="minecraft">Minecraft</option>
            <option value="minecraft">Minecraft</option>
            <option value="minecraft">Minecraft</option>
        </select>
    </div>
</body>
</html>