<!DOCTYPE html>
<html lang="cz">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style_index.css" />
  <title>Webový dotazník</title>
</head>

<body>
  <h1>Webový dotazník</h1>
  <h2>Anketa o videohrách</h2>
  <div class="sekce">
    <h3>
      Vítejte na mém webovém dotazníku!
    </h3>
    <p>
      Jsem nadšený, že jste se rozhodli podělit se se všemi o vaše názory a preference ohledně videoher a herních sérií.
      Tento dotazník je určen všem hráčům, kteří chtějí sdílet své zážitky, upřednostňované žánry a oblíbené herní
      tituly.
    </p>
    <p>
      Dotazník obsahuje různorodé otázky, které se týkají vašich herních
      zážitků, oblíbených žánrů, nejlepších herních sérií a mnoho dalšího.
    </p>
    <p>
      Nemusíte být profesionálním hráčem, abyste se mohli zapojit! Všechny odpovědi jsou vítány, ať už jste casual hráč,
      nadšený fanoušek nebo jen občasný zájemce o videohry.
    </p>
    <p>
      Děkuji vám, že jste si našli čas na vyplnění tohoto dotazníku. Vašich názorů si převelice vážím!
    </p>
  </div>
  <div class="container">
    <a href="/anketa" class="tlacitko">Spustit dotazník</a>
    <a href="/results" class="tlacitko">Výsledky dotazníku</a>
  </div>
  <footer>
    &copy; 2024 Filip Podeszwa, IT2 - projekt do předmětu PVY
  </footer>
</body>

</html>